:root {
	--dark-color-a: linear-gradient(to right, #011329 0%, #806B9E 44%, #0b2a50 100%);
}

*{
    margin: 0px;
    padding:0px;
    overflow:hidden;
    
}
body:before, body:after {
    content: "";
    position: fixed;
    background: var(--dark-color-a);
    left: 0;
    right: 0;
    height: 10px;
}
body:before {
    top: 0;
}
body:after {
    bottom: 0;
}
body {
    border-left: 10px var(--dark-color-a);
    border-right: 10px solid var(--dark-color-a);  
}
.nav{
    background: var(--dark-color-a);
    /* background-color:#806B9E; */
    position:fixed;
    right:0;
    bottom:20%;
    border-style: dashed;

}

.nav_items li{
    padding:10px;
    cursor:grab;
}

#red{
    color:red;
}
#blue{
    color:blue;
}
#green{
    color:green;
}
#black{
    color:black;
}
#yellow{
    color:yellow;
}
#rubber {
    color:white;
}
#clear{
    color:white;
}
#save{
    color:white;
}
.nav_items li:hover{
    background-color:#F28398;
}
@media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
}