body {
    background-image:
        linear-gradient(rgba(23, 24, 34, 0.600),
            rgba(23, 24, 34, 0.600)),
        url('../images/water-blue.jpg');
}

.title-head {
    color:  #806B9E;
}

.desc-head {
    color:  #806B9E;
}

.del-head {
    color:  #806B9E;
}

hr {
    border-top: 2px solid  #806B9E;
}
p{
    font: weight 600;
    font: 1em sans-serif;
    border-radius: 5px;
  }

#save .btn btn-success btn-block{
    background-color: #806B9E; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .btn-block {
    background-color: white; 
    color: black; 
    border: 2px solid #806B9E;
  }
  
  .btn-block:hover {
    background-color: #806B9E;
    color: white;
  }